.container{
    margin: 0 auto;
    width: 970px;
    background-color: grey;
}

.section{
    margin-top: 30px;
    background-color: #D2CDCD;
    width: 970px;
    height: 300px;

}

h1{
    padding-left: 300px;
}

#hide{
    margin-left: 300px;
}

#title, #secondP{
    background-color: lightblue;
    text-align: center;
    
}

#secondP{
    padding: 50px;
    display: none;
    margin-top: -20px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #4785A4;
    display: inline-block;
    vertical-align: top;
}

.color{
    color: white;
    background-color: #2DD22D;
}

span{
    font-size: 24px;
    font-weight: bold;
}

img{
    width: 50px;
    height: 50px;
}